<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Agregar Ingreso / Egreso</h4>
            <p class="card-description">
              Especifique el monto y el tipo
            </p>

            <form [formGroup]="formulario" (ngSubmit)="registrar()">
              
              <div class="form-group">
                <label>Descripción</label>
                <input type="text" 
                       class="form-control" 
                       placeholder="Descripción"
                       name="descripcion"
                       formControlName="descripcion">
              </div>

              <div class="form-group">
                  <label>Monto</label>
                  <input type="number" 
                         class="form-control" 
                         placeholder="Monto"
                         name="monto"
                         formControlName="monto">
                    <p>
                      Debe de ser un monto positivo
                    </p>
                </div>

              <div class="form-group">
                  <label>Tipo</label>
                  <br>
                  <button *ngIf="tipo === 'INGRESO'" (click)="tipo = 'EGRESO'" type="button" class="btn btn-primary btn-block">Ingreso</button>
                  <button *ngIf="tipo === 'EGRESO'" (click)="tipo = 'INGRESO'" type="button" class="btn btn-warning btn-block">Egreso</button>
              </div>

              <hr>
              <button *ngIf="!loading" type="submit" class="btn btn-success mr-2" [disabled]="formulario.invalid">
                <i class="fa fa-save"></i>
                Agregar
              </button>

              
                <button disabled *ngIf="loading" class="btn btn-success mr-2" [disabled]="true">
                  <i class="fa fa-spin fa-sync"></i>
                  Guardando...
                </button> 
             
              
              <button type="reset" class="btn btn-light" (click)="cancelar()">Cancelar</button>

            </form>
          </div>
        </div>
      </div>
</div>
          