
    <div class="page-body-wrapper full-page-wrapper auth-page" *ngIf="!flagToken">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
              <h2 class="text-center mb-4" style="color: white;">Solicitar Cambio de Contraseña</h2>
              <div class="auto-form-wrapper">
                <form [formGroup]="formulario" (ngSubmit)="solicitarCambioPassword()">
                  <div class="form-group">
                    <label class="label">Email</label>
                    <div class="input-group">
                      <input type="email" class="form-control" placeholder="Ingresa el Email" formControlName="email">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i *ngIf="formulario.get('email').valid" class="fa fa-check-circle"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" 
                            class="btn btn-primary submit-btn btn-block" 
                            [disabled]="formulario.invalid">
                      Solicitar Cambio de Contraseña
                    </button>  
                  </div>
                  
                  
                  <div class="text-block text-center my-3">
                    <span class="text-small font-weight-semibold">Login </span>
                    <br>
                    <a routerLink="/login" class="text-black text-small">Ingresar a la App</a>
                  </div>
                </form>
              </div>
              
              
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
    </div>

    <div class="page-body-wrapper full-page-wrapper auth-page" *ngIf="flagToken">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <h2 class="text-center mb-4" style="color: white;">Solicitar Cambio de Contraseña</h2>
            <div class="auto-form-wrapper">
              <form [formGroup]="formularioReset" (ngSubmit)="resetPassword()">
                <div id="error" class="alert alert-danger ocultar" role="alert" *ngIf="checkPassword()">
                  Las Contraseñas no coinciden, vuelve a intentar!
              </div>
                <div class="form-group">
                  <label class="label">Contraseña actual</label>
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="Ingresa tu contraseña actual" formControlName="oldPass">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i *ngIf="formularioReset.get('oldPass').valid" class="fa fa-check-circle"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="label">Nueva Contraseña</label>
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="Ingresa tu nueva contraseña" formControlName="newPass">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i *ngIf="formularioReset.get('newPass').valid" class="fa fa-check-circle"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="label">Nueva Contraseña</label>
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="Confirmar contraseña" formControlName="confirmPass">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i *ngIf="formularioReset.get('confirmPass').valid" class="fa fa-check-circle"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" 
                          class="btn btn-primary submit-btn btn-block" 
                          [disabled]="formularioReset.invalid">
                    Cambiar Contraseña
                  </button>  
                </div>
                
                
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Login </span>
                  <br>
                  <a routerLink="/login" class="text-black text-small">Ingresar a la App</a>
                </div>
              </form>
            </div>
            
            
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
  </div>
    
    <p *ngIf="flagToken">hoalsjfsa</p>