/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
    margin-right: 25px;
    width: 100%;
    background-color: white !important;
    border-radius: 5px;  
  }

  img {
    max-width: 100%;
  }

  .container img {
  margin-top: 150px;
}

input[type="submit"]{
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  height: auto;
}

.resultado {
  color: white;

}
.resultado h2 {
  font-weight: bold;
  color: white;
}


.resultado p {
  font-size: 18px!important;
}
.resultado p span {
  font-weight: bold;
}
p.precio{
  font-size: 30px!important;
}